body {
    background-color: black;
}
#navigation_bar {
    position: fixed;
    z-index: 10;
    padding: 7px;
    border: 3px solid darkslateblue;
    box-shadow: #2b5876;
    height: 3.5rem;
    background: rgb(7,1,96);
    background: linear-gradient(90deg, rgba(7,1,96,1) 0%, rgba(79,1,1,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: space-between;    
}
#navigation_bar h3 {
    padding-left: 9px;
    font-family: Georgia, serif;
    color: white;
}
#navigation_bar a{
    text-decoration: none;
        font-family: Georgia, serif;
        padding-top: 3px;
        padding-left: 6px;
        padding-right: 9px;
        background-color:rgb(51, 4, 4);
        border-radius: 20px;
        color: wheat;
}
#navigation_bar #nobg{
    background: none;
}
#first-part {
    min-height: 300px;
    margin: 5em 1em 0.5em 1em;
    border-radius: 9px;
    padding: 0.5em;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
#first-part div {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: large;

}
#first-part div h3{
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', serif;
}
.image-overlay {
    height:15em;
    width: 24em;
    /* position: relative; */
    border: 4px solid wheat;
}
#main-display {
    height: auto;
}

footer{
    position: relative;
    background: rgb(93,0,0);
    background: linear-gradient(90deg, rgba(93,0,0,1) 0%, rgba(6,2,91,1) 45%, rgba(0,0,0,1) 100%);
    color: whitesmoke;
}
footer .head2 {
    position: absolute;
    padding: 9px;
    background-color:rgb(51, 4, 4);
    border-radius: 20px; 
}
.links li{
    font-size:larger;
    text-decoration: none;
    display: inline-flex;
}
.links i {
    padding-top: 15px;
    padding-left: 6px;
}
#last {
    display: flex;
    justify-content: space-between;
}
#last a {
    text-decoration: none;
    color: aqua;
}
@media (width<=860px) and (width>=630px){
    #navigation_bar {
        left: 0px;
        right: 0px;
        top: 9px;
        width: 100%;
        border-radius: 20px;
    }
    #navigation_bar a{        
        font-weight: bold;
    }
    footer {
        margin: 20px 15px;
        padding-bottom: 9px;
        border-radius: 9px;
    }
    footer .head2 {
        top: 30px;
        left: 40px;

    }
    .links li {
        padding-top: 120px;
        padding-left: 27px;
    }
    #last {
        padding: 15px;
    }
}
@media (width<630px){
    #navigation_bar {
        left: 0px;
        right: 0px;
        top: 9px;
        width: 100%;
        border-radius: 10px;
    }
    #navigation_bar a{
        font-weight: bold;
    }
    #navigation_bar #hide {
        display: none;
    }
    footer {
        margin: 20px 15px;
        padding-bottom: 9px;
        border-radius: 9px;
    }
    footer .head2 {
        top: 30px;
        left: 40px;
    }
    .links li {
        padding-top: 120px;
        padding-left: 27px;
    }
    .links .shrink {
        padding-top: 30px;
    }
    #last {
        padding: 15px;
    }
}
@media (width>860px){
    #navigation_bar {
        top: 16px;
        left: 5%;
        width: 90%;
        border-radius: 20px;
    }
    #navigation_bar a{
        font-weight: bolder;
    }
    footer {
        margin: 30px 20px;
        padding-bottom: 12px;
        border-radius: 10px;
    }
    footer .head2 {
        top: 40px;
        left: 60px;
    }
    .links li {
        padding-top: 150px;
        padding-left: 60px;
    }
    #last {
        padding: 15px;
    }
}
@media (width<400px){
    #navigation_bar {
        height: 4.5em;
        left: 0px;
        right: 0px;
        top: 9px;
        width: 100%;
        border-radius: 10px;
    }
    #navigation_bar a{
        background: none;
        font-weight: bold;
    }
    #navigation_bar #hide {
        display: none;
    }
    #first-part h2 {
        padding-left: 30%;
    }

    footer {
        margin: 20px 15px;
        padding-bottom: 9px;
        border-radius: 9px;
    }
    footer .head2 {
        top: 30px;
        left: 20%;
    }
    .links li {
        padding-top: 90px;
        padding-left: 27px;
    }
    .links .shrink {
        padding-top: 50px;
    }
    #last {
        padding: 15px;
    }
}
